
body {
    
}
div {
    background-color: silver;
}
p {
    color: blue;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    
}
.larger-image {
    width: 500px;
    height:350px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 30px;
    padding-right: 30px;
}
.thick-purple-border {
    border-color: purple;
    border-width: thick;
    border-style: solid;
}